*{
	margin:0;
	padding: 0;
}
body {
	color: #000;
	background: #fff;
	font-family: Georgia, Palatino, serif;
	position: relative;
	margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding:0;
    width: 100%;
    min-width: 300px;
    max-width: 640px;
    overflow-x: hidden;
  }

#title {
	background-color: #33A7C4;
	position: relative;
	min-height: 64px;
	width: 100%;
	text-align:center;
}

#title p{
	position: relative;
	color: #FFFFFF;
	width: 100%;
	padding-top: 20px;
	font-size: 1.4em;
}

#headContent {
	
}

#banner {

}

#fragContent {

}